<form name="$ctrl.multipleInputsForm" ng-show="$ctrl.model.length > 0" novalidate>
    <ul class="multiple-input-list">
        <!-- Iteration -->
        <li ng-repeat="inputValue in $ctrl.model track by $index" class="relative">
            <ng-form name="{{'form' + $index}}" class="flex">
                <blip-input-dpr
                    ng-model="inputValue"
                    type="text"
                    label="{{$ctrl.inputLabel}}"
                    placeholder="{{$ctrl.inputPlaceholder}}"
                    form-reference="$ctrl.multipleInputsForm['form' + $index]"
                    on-change="$ctrl.saveInput($val, $index)"
                    class="w-100"></blip-input-dpr>
                <img class="trash-icon" icon-src="Trash" ng-click="$ctrl.delete($index)" />
            </ng-form>
        </li>
    </ul>
</form>
<!-- Add item form -->
<div class="flex">
    <button ng-click="$ctrl.addNewItem()" type="button" class="bp-btn bp-btn--bot bp-btn--text-only"
        translate>
        {{ $ctrl.addButtonText }}
    </button>
</div>
