@import "../../assets/scss/variables";
@import "../../assets/scss/mixins";

.scroll-content {
    overflow-y: auto;
    padding: 0 5px;
    margin-bottom: 20px;
    @include scrollbar($color-gray-light);
}
