@import '../../assets/scss/variables';

.password-strength-wrapper {
    position: absolute;
    right: 10px;
    top: 10px;

    .str-lvl {
        height: 7px !important;
        width: 16px !important;
        background: $color-gray-light;
        border-radius: 3.5px;
        position: absolute;
    }

    .lvl-one {
        right: 40px;
    }

    .lvl-two {
        right: 20px;
    }

    .lvl-three {
        right: 0;
    }

    .lvl-one.weak {
        background: $color-danger;
    }
    .lvl-one.medium {
        background: lighten($color-warning, 5%);
    }
    .lvl-one.strong {
        background: $color-success;
    }
    .lvl-two.medium {
        background: lighten($color-warning, 5%);
    }
    .lvl-two.strong {
        background: $color-success;
    }
    .lvl-three.strong {
        background: $color-success;
    }
}
