@import "../../assets/scss/variables";
@import "~blip-ds/dist/collection/styles/_colors.scss";

.password-strength-wrapper {
    position: absolute;
    right: 10px;
    top: 10px;

    .str-lvl {
        height: 7px !important;
        width: 16px !important;
        background: $color-surface-3;
        border-radius: 3.5px;
        position: absolute;
    }

    .lvl-one {
        right: 40px;
    }

    .lvl-two {
        right: 20px;
    }

    .lvl-three {
        right: 0;
    }

    .lvl-one.weak {
        background: $color-delete;
    }
    .lvl-one.medium {
        background: $color-warning;
    }
    .lvl-one.strong {
        background: $color-success;
    }
    .lvl-two.medium {
        background: $color-warning;
    }
    .lvl-two.strong {
        background: $color-success;
    }
    .lvl-three.strong {
        background: $color-success;
    }
}
