@import "../../assets/scss/variables";

.tooltip-button {
    z-index: 9;
    display: inline-block;
    position: relative;

    &:hover {
        .text-container {
            width: 177px;
            opacity: 0.7;
            margin-bottom: 4px;

            .fw3 {
                display: block;
            }
        }

        button {
            color: $bp-color-bot;
        }
    }

    .text-container {
        width: 0;
        background-color: #202631;
        border-radius: 40px;
        padding: 8px 0 0 25px;
        height: 40px;
        color: #fff;
        z-index: 1;
        opacity: 0;
        transition: 500ms opacity;
        position: absolute;
        text-align: center;

        .fw3 {
            display: none;
        }
    }

    button {
        padding: 0;
        margin: 0;
        line-height: inherit;
        vertical-align: top;
        border: none;
        min-width: 0;
        color: $bp-color-breeze;
        float: left;
        position: relative;
        width: 40px;
        height: 40px;
        background-color: #202631;
        opacity: 0.9;
        border-radius: 40px;
        z-index: 2;
        transition: 500ms;
    }
}
