@import "../../assets/scss/variables";
@import "../../assets/scss/mixins";

.saving-component {
    border-radius: 8px;
    min-width: 75px;
    height: 33px;
    background: rgba(10, 15, 26, 0.4);
    margin-top: -3px;
    padding-right: 10px;

    div {
        @include flex-box;
        justify-items: center;
        align-items: center;
        align-content: center;
        height: 33px;
    }

    span {
        margin-left: 5px;
        font-size: $bp-fs-6;
        color: #8ca0b3;
        line-height: 1;
        font-weight: bold;
    }

    i {
        align-self: center;
        border: 2px solid #8ca0b3;
        font-size: 0.6rem;
        margin-left: 8px;
        border-radius: 100%;
        padding: 0 2.5px;
        color: #8ca0b3;
    }

    .spin {
        width: 20px;
        margin-left: 8px;
        padding: 0 2.5px;
    }
}
