@import "../../assets/scss/variables";
@import "../../assets/scss/mixins";
@import "~blip-ds/dist/collection/styles/_colors.scss";

.custom-search-view-value {
    padding: 7px;
    border-bottom: 1px solid $color-content-ghost;
    min-height: 36px;
    text-align: left;

    &.disabled {
        pointer-events: none;
        background-color: $color-surface-3;
        color: $color-content-disable;
    }

    i {
        font-size: $bp-fs-8;
    }
}

.custom-select-items {
    position: absolute;
    top: 98%; //offset of 1px border
    background: $color-surface-1;
    padding: 10px 0px;
    width: 100%;
    max-height: 200px;
    overflow: auto;

    input[type="text"] {
        border: 1px solid $color-surface-2;
        padding: 8px 15px;
        margin-bottom: 15px;
        border-radius: 2px;
        width: 100%;
    }

    .select-item {
        padding: 6px 22px;
        text-align: left;

        &:hover {
            background-color: $color-surface-2;
        }
    }
}

.custom-select-theme-1 {
    .custom-search-container {
        background: $color-surface-1;
        border-radius: 3px;
        border: 1px solid $color-surface-2;
    }

    .custom-search-view-value {
        padding: 7px 15px;
        border-bottom: 0;
        align-items: center;
        justify-content: space-between;
        @include flex-box;

        i {
            color: $color-content-default;
            line-height: 1;
        }

        label {
            color: $color-surface-3;
            font-weight: 400;
            font-size: 1.2 * $m;
            margin-bottom: 0.7rem;
        }
        span {
            line-height: 1;
        }
    }

    .custom-select-items {
        font-size: 1.4 * $m;
    }
}
