@import '~assets/fonts/blip-icons/styles.css';
@import '~assets/fonts/material/material.css';

$regular: 300;
$medium: 400;
$bold: 700;

$base-font-family: 'Nunito', 'Helvetica', 'Arial', sans-serif;
$base-font-weight: $regular;
$base-font-size: $bp-fs-5;
$regular-font-size: $bp-fs-6;
$base-letter-spacing: -0.04em;

$small-font-size: $bp-fs-7;

$serif-font-family: 'Merriweather', serif;

$monospace-font-family: 'Consolas', monospace;
