//Variable for scale that permits the use of base 16px with the logic of 10px
//For example, if you want 18px, instead of writing 1.125rem, you can write 1.8*$m, which is easier to understand
$m: 0.625rem;

$u: 0.6 * $m;

$size-xxs: 1.333 * $u;
$size-xss: 2 * $u;
$size-xs: 2.666 * $u;
$size-ss: 3.333 * $u;
$size-s: 4 * $u;
$size-sm: 6 * $u;
$size-m: 8 * $u;
$size-l: 12 * $u;

$footer-height: 57px;
$footer-height-desktop: 50px;

//3rd-party
$color-facebook: #3c5a99;
$color-facebook-dark: darken($color-facebook, 9%);

// $border-color-1: #d3d3d3;

/*
  BLiP Toolkit
  Color Variables
*/

$lighten-amount: 7%;
$darken-amount: 7%;

@function bp-lighten($color) {
    @return lighten($color, $lighten-amount);
}

@function bp-darken($color) {
    @return darken($color, $darken-amount);
}

$bp-gradient-shine: linear-gradient(180deg, #f9fbfc 0%, #ecf1f3 100%);
$bp-gradient-bot: linear-gradient(90deg, #51dbe3 0%, #28b4c3 100%);
$bp-gradient-blip: linear-gradient(
    137.45deg,
    #1bd6e7 0%,
    #0fc3f8 56.17%,
    #0abcff 100%
);
$bp-gradient-suit: linear-gradient(90deg, #3d4554, #2f3747);
$bp-gradient-business: linear-gradient(90deg, #202f3f 0%, #102834 100%);
$bp-gradient-enterprise: linear-gradient(90deg, #2e3237 0%, #1f2018 100%);

//3rd parties
$bp-color-facebook: #3c5a99;

/*
  BLiP Toolkit

  Font Variables

*/

/*

  Font family is Nunito. Its fallback is Helvetica

*/

$bp-font-family: "Carbona", "Nunito", "Helvetica", sans-serif;

/*

  Font sizes have been converted to rem considering a base size of 16px.
  For more information, check the calculator at https://offroadcode.com/rem-calculator/

*/

$bp-base-font-size: 16px;

//4 small fonts (for normal text, minor titles and subtitles)
$bp-fs-8: 1 * $m; //10px
$bp-fs-7: 1.2 * $m; //12px
$bp-fs-6: 1.4 * $m; //14px
$bp-fs-5: 1.6 * $m; //16px (base)
$bp-fs-4: 2 * $m; //20px
$bp-fs-3: 2.4 * $m; //24px
$bp-fs-2: 3.2 * $m; //32px
$bp-fs-1: 4.8 * $m; //48px

//2 medium fonts (for headline text, major titles and subtitles)
$bp-font-medium-1: 1.25rem; //20px
$bp-font-medium-2: 1.5rem; //24px

//2 large fonts (for major numbers or things with really high emphasis)
$bp-font-large-1: 2rem; //32px
$bp-font-large-2: 3rem; //48px

// Typography
$regular: 300;
$medium: 400;
$bold: 700;

$base-font-family: "Nunito", "Helvetica", "Arial", sans-serif;
$base-font-weight: $regular;
$base-font-size: $bp-fs-5;
$regular-font-size: $bp-fs-6;
$base-letter-spacing: -0.04em;

$small-font-size: $bp-fs-7;

$serif-font-family: "Merriweather", serif;

$monospace-font-family: "Consolas", monospace;
