@import '~assets/scss/main';

.search-wrapper {
    width: 300px;
    background-color: #202631;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 5px;
    padding: 5px;
    height: 40px;
    color: #fff;
    z-index: 1;
    opacity: 0;
    transition: 500ms opacity;
    position: absolute;
    top: 10px;
    left: 35vw;
    box-shadow: rgba(15, 15, 15, 0.05) 0px 0px 0px 1px,
        rgba(15, 15, 15, 0.1) 0px 5px 10px, rgba(15, 15, 15, 0.2) 0px 15px 40px;

    &.show-search {
        opacity: 1;
    }

    #builder-search {
        border: none;
        border-bottom: none;
        position: relative;
        padding: 5px 10px;
        width: 100%;
        &:focus {
            border: none;
        }

        &::placeholder {
            color: $bp-color-silver;
            opacity: 1; /* Firefox */
        }

        &:-ms-input-placeholder { /* Internet Explorer 10-11 */
           color: $bp-color-silver;
        }

        &::-ms-input-placeholder { /* Microsoft Edge */
           color: $bp-color-silver;
        }
    }
}
