date-picker {
  display: block;
  text-align: left;

  ob-daterangepicker {
    background-color: #fff;
    border-radius: 3px;
    
    .picker-dropdown-container {

      .picker-dropdown {
        border-color: #c9dfe4;
        border-radius: 3px;
        height: 40px;
        line-height: 40px;
      }

      .picker-dropdown::after {
        border-color: #8491A8 transparent transparent;
        top: 15px;
      }

      .drp_value {
        font-weight: 500;
      }

      .picker {

        &.open {
          display: flex;
          flex-direction: row-reverse;
          height: 321px;
          top: 40px;
          border-color: #c9dfe4;
          box-shadow: 0 0px 4px 0 #E1E7EE;
          cursor: auto;
        }

        .ranges-actions.custom-open {
          border-left: 0;
          border-right: 1px solid #c9dfe4;
          padding: 16px 0 0;
          height: 275px;
        }

        .ranges-actions{

          .actions {
            width: 100%;
            display: flex;
            justify-content: flex-end;
            border-top: 1px solid #c9dfe4;
            padding-top: 8px;
            top: 265px;

            .drp_btn.cancel {
              background-color: #F3F4F4;
              color: #505151;
              border: 1px solid #E3E5E6;
              font-weight: 600;
              margin: 0 8px;
              text-decoration: none;
            }

            .drp_btn.apply {
              background-color: #0CC8CC;
              color: #fff;
              font-weight: 600;
              margin: 0 8px;
            }
          }

          .ranges {

            .range {
              padding: 0 16px;

              &:hover, &:hover:not(.disabled), &.selected {
                background-color: #0CC8CC;
                font-weight: 600;
                color: #fff;
              }
            }
          }
        }
      }
    }

    .input-container {
      display: none
    }


    .header {
      border: none;
      background-color: #fff;
      top: 5px;

      .date {
        color: #68696B;
      }

      .arrow-btn {
        
        &.left, &.right {
          border: none;
        }

        &.left:before {
          border-color: transparent #8491A8 transparent transparent;
        }

        &.right:before {
          border-color: transparent transparent transparent #8491A8;
        }
      }
    }

    calendar {

      .board {
        border: none;
        top: 5px;

        .days-of-week {
          border-bottom: 1px solid #e5e5e5;

          .day-name {
            font-size: 8px;
            height: 22px;
          }
        }
        
        .day {
          border-radius: 3px;
    
          &.in-range:not(.other-month):not(.disabled) {
            background-color: rgba(218, 242, 244, 0.3);
            color: #565154;
            border-radius: 0;
          }

          &.other-month {
            color: transparent;
          }

          &.selected:not(.other-month):not(.disabled),
          &.range-end:not(.other-month):not(.disabled) {
            background-color: #0CC8CC;
            font-weight: 600;
            color: #fff;
            border-radius: 3px;
          }
      
          &.current:not(.other-month) {
            font-weight: normal;
            border: 1px solid #C7C9CB;
            box-sizing: border-box;
            height: 29px;
            margin-top: -1px;
          }
        }
      }
    }
  }
}
