<div id="thread-wrapper" class="messages">
    <div class="w-100" ng-if="!$ctrl.isLoadingThread">
        <div ng-if="$ctrl.messages.length > 0"
            class="w-100 flex flex-column"
            ng-repeat="message in $ctrl.messages"
            on-finish-render="$ctrl.scrollViewToBottom()">
            <div id="{{message.ticket}}" class="history-message">
                <vue-component name="blipCard" vprops="message"></vue-component>
            </div>
        </div>
        <h4 ng-if="$ctrl.messages.length === 0" class="no-content-found tc" translate>
            modules.application.detail.attendance.history.noMessages
        </h4>
    </div>

    <div ng-if="$ctrl.isLoadingThread" class="w-100">
        <img icon-src="PlaceholderChat" class="w-100" />
    </div>
</div>
