@import "../../assets/scss/variables";
@import "~blip-ds/dist/collection/styles/_colors.scss";

.status-bar-wrapper {
    display: flex;

    tooltip tip {
        width: 175px;
        text-align: left;
        font-size: $bp-fs-7;

        .icon-false,
        .icon-true {
            font-size: 12px !important;
        }

        span {
            border: none !important;
            font-size: $bp-fs-7;
        }
    }

    .status-bar {
        display: flex;
        flex-direction: row;
        span {
            height: 9px;
            width: 22px;
            border: 1px solid $color-content-disable;
            border-radius: 100px;
            margin-right: 1px;
        }
    }
}
