@import "../../assets/scss/variables";
@import "~blip-ds/dist/collection/styles/_colors.scss";

.bp-input-error-container {
    height: 1.5 * $m;
    background: $color-surface-2;
}

.invisible {
    visibility: hidden;
}

// Needed to remove clear and reveal password icons from IE10 and Edge
.bp-input-wrapper {
    input::-ms-clear,
    input::-ms-reveal {
        display: none;
    }

    .icon-check {
        color: $color-success;
    }
}

// Needed to force padding despite icon class
.bp-input-check {
    padding-left: 5px !important;
}
