@import '../../assets/scss/variables';

switch {  
    input[type="checkbox"] {
        position: absolute;
        top: 0;
        left: 0;
        visibility: hidden;
        z-index: -1;
        margin: 0;

        + label {
            
            position: relative;
            background: $bp-color-desk;
            transition: background-color 0.33s ease;
            padding: 0;
            width: 43px;
            height: 26px;
            line-height: 1.5em;
            vertical-align: top;
            border-radius: 36px;
            margin: 0 0 -0.3*$m 0;
            cursor: pointer;
            display: inline-block;

            > span {
                display: block;
                width: 22px;
                height: 22px;
                position: absolute;
                top: 2px;
                left: 2px;
                background: $color-white;
                border-radius: 50%;
                transition: left 0.33s ease;
                
            }
        }

        &:checked + label {
            background: $color-primary;
            > span {
                left: 19px;
            }
        }
        &:disabled + label {
            background: $bp-color-aqua-island;
        }        
    }
}
.label{
    font-weight: 700;
    color: #52636c;
    letter-spacing: .00625rem;
    margin: 0;
    vertical-align: middle;
}