<div class="relative dropdown-container">
    <div ng-class="{
        'show-dropdown': $ctrl.isOpen,
        'hide-dropdown': !$ctrl.isOpen
        }"
         ng-style="{{$ctrl.divStyle}}"
         class="dropdown-item-content z-2 {{$ctrl.directionClass}} {{$ctrl.auxClasses}}"
         ng-transclude></div>
    <span ng-click="$ctrl.toggleOpen($event)"
          class="{{$ctrl.buttonClasses}} flex">
        <div bind-html-compile="$ctrl.itemTitle"></div>
        <span ng-transclude="item-title"></span>
        <icon ng-if="$ctrl.customIcon" name="{{$ctrl.customIcon}}" color="{{$ctrl.colorIcon}}" width="{{$ctrl.widthIcon}}" height="{{$ctrl.heightIcon}}"></icon>
        <icon ng-if="!$ctrl.customIcon" ng-hide="$ctrl.hideIcon">{{$ctrl.arrowIcon}}</icon>
    </span>
</div>
