<div class="input-file relative" ng-class="{ 'drag-over': dragover }">
    <label for="{{::id}}" ng-if="!file && hasFileReader">
        <span ng-show="!dragover" translate>utils.forms.dropFile</span>
        <span ng-show="dragover" translate>utils.forms.dropFile2</span>
        &nbsp;
        <button type="button" class="button-primary waves-effect waves-light" ng-click="selectFile()" translate>utils.forms.select</button>
    </label>
    <input id="upload-input" name="{{::id}}" ng-model="file" type="file" class="u-full-width" ng-class="{ 'has-file-reader': hasFileReader}"
    />
    <img ng-if="ngPermission" ng-show="file && hasFileReader" ng-auth-write ng-src-binary="file" alt="{{file.name}}" ng-click="removeFile()">
    <img ng-if="!ngPermission" ng-show="file && hasFileReader" ng-src-binary="file" alt="{{file.name}}" ng-click="removeFile()">

    <a ng-if="ngPermission" ng-show="file && hasFileReader" ng-auth-write ng-click="removeFile()" class="text">
        <i class="icon icon-s icon-material icon-padded layout-top layout-right">&#xE14C;</i>
    </a>
    <a ng-if="!ngPermission" ng-show="file && hasFileReader" ng-click="removeFile()" class="text">
        <i class="icon icon-s icon-material icon-padded layout-top layout-right">&#xE14C;</i>
    </a>
</div>