@import "../../assets/scss/variables";
@import "../../assets/scss/mixins";
@import "~blip-ds/dist/collection/styles/_colors.scss";

.input-file {
    background-color: $color-surface-2;
    border: 1px $color-content-disable dashed;
    border-radius: 0;
    color: $color-content-ghost;
    text-align: center;
    overflow: hidden;
    > label {
        line-height: 6.8 * $m;
        margin: 0;
        pointer-events: none;
        button {
            pointer-events: all;
        }
    }
    > input[type="file"].has-file-reader {
        position: absolute;
        width: 0.1px;
        height: 0.1px;
        opacity: 0;
        filter: alpha(opacity=0);
        overflow: hidden;
        z-index: -1;
    }
    > img {
        margin-top: 0.6 * $m;
        max-width: 100%;
    }

    &.drag-over {
        background-color: $color-surface-3;
        color: $color-content-default;
        button {
            display: none;
        }
    }
}
