@import "../../assets/scss/variables";
@import "~blip-ds/dist/collection/styles/_colors.scss";

.custom-chips {
    background: $color-content-bright;
    color: $color-primary;
    border-radius: 30px;
    padding: 3px 13px;
    margin: 0 5px 5px;
    display: inline-block;
    min-width: 65px;
    word-break: break-word;

    .remove-chip {
        margin-left: 10px;
    }
}
