<div class="analysis-response">
    <div>
        <vue-component name="blipCard" vprops="{{ $ctrl.messageCardContent }}" ng-if="$ctrl.messageCardContent"/>
    </div>
    <div class="intention">
        <blip-select ng-model="$ctrl.selectedIntention"
            options="$ctrl.structuredIntents"
            label="{{ $ctrl.intentsLabel }}"
            ng-if="$ctrl.structuredIntents.length > 0"
            on-focus="$ctrl.onIntentFocus()"
            on-blur="$ctrl.onIntentBlur()">
        </blip-select>
        <div ng-if="!$ctrl.structuredIntents.length > 0" class="loading-area">
            <loading-icon/>
        </div>
    </div>
    <div class="hidden-content" ng-class="{ 'display': $ctrl.displayHiddencontent }" ng-if="$ctrl.displayEntityContent">
        <bds-typo class="title">{{ $ctrl.entitiesLabel }}</bds-typo>
        <div ng-repeat="(name, values) in $ctrl.structuredEntities" class="entity">
            <div class="name">
                {{ name }}
            </div>
            <div ng-repeat="value in values" class="value">
                {{ value }}
            </div>
        </div>
    </div>
    <div class="hidden-content divisor" ng-class="{ 'display': $ctrl.displayHiddencontent }" ng-if="$ctrl.displayEntityContent && $ctrl.displayHiddencontent && $ctrl.analysisResult.contents.length > 0">
        <bds-typo class="title">
            {{ $ctrl.contentsLabel }}
        </bds-typo>
        <div ng-repeat="content in $ctrl.analysisResult.contents" class="entity">
            <div class="name">
                {{ content.name }}
            </div>
            <div class="value">
                {{ content.result.content }}
            </div>
        </div>
    </div>
    <div class="expand" ng-click="$ctrl.toggleContent()" ng-if="$ctrl.displayEntityContent">
        <i class="icon icon-arrowdown" ng-if="!$ctrl.displayHiddencontent"></i>
        <i class="icon icon-arrowup" ng-if="$ctrl.displayHiddencontent"></i>
    </div>
</div>
