@import "../../assets/scss/variables";
@import "~blip-ds/dist/collection/styles/_colors.scss";

.key-value-list {
    list-style: none;

    // remove when builder sidebar layout is updated to use blip-input
    input {
        padding: 0 !important;
        border: none !important;
    }

    .expand-toggled-open {
        transform: rotate(270deg);
        cursor: pointer;

        &:hover {
            color: $color-primary;
        }
    }

    .shift-tooltip {
        tooltip._top._right tip {
            left: -12px;
        }
    }
}
