@import '../../assets/scss/variables';

card,
.card {
    display: block;
    background-color: $color-white;
    border-radius: 2px;
    margin-top: 1.5*$u;
    margin-bottom: 1.5*$u;
    transition: box-shadow .15s ease-in-out,transform .15s ease-in-out;
    -ms-box-shadow: 0 2px 12px 0 #e1e7ee;
    -o-box-shadow: 0 2px 12px 0 #e1e7ee;
    box-shadow: 0 2px 12px 0 #e1e7ee;
    z-index: 1;

    &[ng-click]:hover {
        z-index: 2;
        transform: scale(1.03);
    }

    &.with-autocomplete { z-index: auto; }

    card-footer {
        border-top: 1px solid lighten(#CADAE5, 5%);
        width: 100%;
        display: block;
    }

    + card,
    + .card {
        margin-top: 3*$u;
        &.column,
        &.columns {
            margin-top: 1.5*$u;
        }
    }

    .card-header {
        padding: 2.5*$u 2.5*$u 0;

        span { margin-right: 15px; }
        &:focus { outline: 0; }
        icon { color: $color-disabled; }
    }

    .card-title {
        font-weight: $bold;
        color: $color-text-dark;
        margin: 0;
        text-align: left;
    }

    .card-divider {
        background-color: $color-disabled;
        margin: .5*$u 1.5rem 1.5*$u 1.5rem;
        max-width: 9*$u;
        height: 1px;
        display: block;
    }

    .card-title + .card-content {
        padding-top: 1.5*$u;
    }

    .card-content {
        padding: 2.5*$u;
        margin: 0;

        &:after {
            content: "";
            display: table;
            clear: both;
        }
    }

    .card-actions {
        padding-top: 2.5*$u;
        text-align: right;

        > button + button {
            margin-left: 1.5*$u;
        }

        @media (max-width: 749px) {
            text-align: left;
            button {
                width: 100%;
            }
            > button + button {
                margin-left: 0;
                margin-top: 1.5*$u;
            }
        }
    }

    .card-image {
        &.card-image-left {
            margin-right: 1.5*$u;
            float: left;
        }
        &.card-image-right {
            margin-left: 1.5*$u;
            float: right;
        }
    }

    &.card-dashed {
        border: 2px $color-text-light dashed;
    }

    &.card-template {
        border-radius: 0;
        height: 12.0rem;
        -webkit-transition: box-shadow 0.15s ease-in-out;
        -moz-transition: box-shadow 0.15s ease-in-out;
        -ms-transition: box-shadow 0.15s ease-in-out;
        -o-transition: box-shadow 0.15s ease-in-out;
        transition: box-shadow 0.15s ease-in-out;

        .card-image-left {
            margin-right: 1.8rem;
            height: 100%;
        }
        .card-content {
            height: 100%;
        }

        @media (max-width: 749px) {
            height: auto;

            .card-image-left {
                position: absolute;
                top: 1.5rem;
                right: 0;
                height: 24px;
                float: none;
                border-radius: 50%;
            }
        }
    }

    &--with-hover {
        box-shadow: 0 2px 20px 0 rgba(0,0,0,0.05);
        transition: box-shadow .3s ease-out, transform .3s ease-out, opacity .2s ease-out;
        transition-delay: .1s;
        transform: translateZ(0);

        &:hover {
            opacity: 1 !important;
            box-shadow:
                0 4px 4px rgb(219, 227, 239),
                0 16px 16px rgb(222, 228, 240),
                0 32px 20px rgb(228, 234, 241);
            transform: translate(0, -4px);
        }
    }

    &--mini-card {

        box-shadow: 0 2px 20px 0 rgba(0,0,0,0.05);
        transition: box-shadow .3s ease-out, top .3s ease-out;
        transition-delay: .1s;
        padding: 20px 50px 20px 60px;
        margin: 0 0 10px 0;

        &:hover {
            box-shadow:
                0 0 4px 0 rgb(169, 194, 215),
                0 13px 20px 0 rgb(213, 222, 235);
        }

        .input-auto-expand input {
            padding: 5px;
            margin-right: 1*$m;
            border: none;
            background: transparent;
            outline: none;

            &:focus,
            &:hover:not([disabled="disabled"]) {
                border: 1px solid $color-gray;
            }
        }

        form {
            padding: 0;
            margin: 0;
            display: flex;
            justify-content: space-between;
            align-items: center;
            align-content: center;
            width: 100%;
            font-size: $bp-fs-6;

            .form-group {
                padding: 0;
            }
        }

        .card-content {
            padding: 0;
            display: flex;
            justify-content: space-between;
            align-items: center;
            align-content: center;
            width: 100%;
            font-size: $bp-fs-6;
            min-height: 40px;

            .card-section {
                white-space: nowrap;

                &--no-overflow {
                    display: table;
                    table-layout: fixed;
                    overflow: hidden;
                    text-overflow: ellipsis;

                    > span {
                        display: inline-block;
                        max-width: 100%;
                        overflow: hidden;
                        text-overflow: ellipsis;
                    }
                }

                label {
                    color: #8491a8;
                    margin: 0;
                    font-size: $bp-fs-7;
                    font-weight: 500;
                    display: block;
                    padding-bottom: $u;
                }
            }

            .divider {
                width: 1px;
                min-height: 40px;
                background-color: #e3e9ec;
                margin: 0 15px;
            }

            .card-icons {
                color: #8F9CB5;
                font-size: $bp-fs-4;
                display: flex;
                align-items: baseline;
                justify-content: flex-end;

                > * {
                    margin-left: 1.5*$m;
                    cursor: pointer;
                }

                &--hidden {
                    visibility: hidden;
                    opacity: 0;
                    transition: opacity 0.5s linear;
                }

                a:hover {
                    color: inherit;
                    text-decoration: none;
                }
            }
        }

        &:hover .card-icons {
            &--hidden {
                visibility: visible;
                opacity: 1;
            }
        }
    }

    &--square {
        width: 230px;
        height: 100%;
        min-height: 217px;
    }
}
