<div class="container">
    <div class="full-initial-section pv4 mv4">
        <div class="row flex mb0">
            <div class="flex items-center w-100">
                <h1 class="page-header-title mb0 mr3 lh-solid">
                    {{pageTitle}}
                </h1>
                <span class="pahe-header-info" ng-if="hasInfo">
                    <icon class="f3 color-text-light-3" icon-class="info"></icon>
                </span>
            </div>
            <div class="custom-header-content ml5 tr w-100" ng-transclude="customContent"></div>
        </div>

        <div ng-transclude></div>
    </div>
    <div class="page-header-additional-info" ng-transclude="info"></div>
</div>
