@import '../../assets/scss/variables';

page-header .icon-back {
        color: $color-text-light-5;
}

.custom-header-content {
    custom-content {
        display: -webkit-box;  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
        display: -ms-flexbox;  /* TWEENER - IE 10 */
        display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
        display: flex;         /* NEW, Spec - Firefox, Chrome, Opera */
        justify-content: flex-end;
    }

    search-input {
        margin-right: 0.8rem;
    }

    tooltip {
        display: inline-block;

        tip-cont {
            i {
                line-height: 1;
                font-size: $bp-fs-4;
                color: $bp-c-cloud;

                &:hover {
                    color: $color-primary-light;
                }
            }
        }
    }
}

.full-initial-section {
    border-bottom: 1px solid $color-text-light-6;
    margin: 1.5*$m 0 1.5*$m 0;
    padding: 1.5*$m 0 1.5*$m 0;

    h1 {
        color: $color-secondary;
        font-size: 2.4*$m;
        font-weight: 400;
    }
}
