@import '../../assets/scss/mixins';
@import '../../assets/scss/variables';

.search-input-container {
    @include flex-box;
    align-items: center;

    input[type=text] {
        width: 0;
        transition: width 400ms;
        margin-left: 0;
        border: none;
        border-bottom: 2px solid $bp-color-bot;
        background: transparent;
        height: 6*$u;

        &:focus { margin-left: 10px; width: 200px; outline: 0 }

        //Workaround for bug on Safari
        &.input-focused { margin-left: 10px; width: 200px; }

        &::-ms-clear { display: none; }
    }
}
