@import "../../assets/scss/variables";
@import "~blip-ds/dist/collection/styles/_colors.scss";

local-loading {
    position: absolute;
    background-color: $color-surface-2;
    width: 100%;
    height: 100%;
    z-index: 200;
}
