@import "~assets/scss/main";

material-input {
    .material-wrapper {
        position: relative;

        textarea::-webkit-scrollbar-thumb {
            background-color: transparent;
        }

        input:-webkit-autofill, textarea:-webkit-autofill{
            -webkit-box-shadow: 0 0 0px 1000px $color-warning-light inset;
            box-shadow: 0 0 0px 1000px $color-warning-light inset;
            background-color: transparent;
        }

        span {
            height: 2*$m !important;
            position: absolute;
            bottom: 8px;
            right: 5px;
        }

        label {
            position: absolute;
            top: 24px;
            text-transform: none;
            z-index: 3;
            display: block;
            font-weight: 300;
            text-align: left;
            transform: scale(1.15);
            transition: transform 0.3s, scale 0.3s, color 0.1s, padding 0.3s;
            transform-origin: 0 50%;
            color: $color-text-light-4;
            padding-left: 4px;
        }

        textarea, input {
            overflow: hidden;
            margin-top: 20px;
            border-bottom: 1px solid $color-text-light-4;
            position: relative;
            height: 35px;
            width: 100%;
            background: transparent;
            padding: 8px 8px 8px 0px;
            font-weight: 400;
            outline: none;
            color: $color-text;
            z-index: 2;


            &.ng-invalid.ng-dirty {
                border-bottom: 1px solid red;

                &:focus {
                    border-bottom: 1px solid red;
                }

                + label {
                    color: red;
                }
            }

            &[readonly],
            &[readonly="readonly"],
            :read-only {
                background: transparent;
                border-bottom: none;
            }

            &[disabled],
            &[disabled="disabled"] {
                pointer-events: none;
                background-color: transparent;
                color: $color-text-disabled;
            }
        }

        &.has-label {
            label {
                color: $color-primary;
                transform: translateY(-130%) scale(1);
                font-weight: 600;
                padding: 0;

                &.green {
                    color: $color-wa;
                }
            }

            input {
                border-bottom: 1px solid $color-primary;

                &.green {
                    border-bottom: 1px solid $color-wa;
                }

                &:focus {
                    border-bottom: 2px solid $color-primary;

                    &.green {
                        border-bottom: 2px solid $color-wa;
                    }
                }

                &[readonly],
                &[readonly="readonly"],
                :read-only {
                    background: transparent;
                    border-bottom: none;
                }

                &[disabled],
                &[disabled="disabled"] {
                    pointer-events: none;
                    background-color: $color-input-disabled;
                    color: $color-text-disabled;
                }
            }
        }
    }
}
