@import "../../assets/scss/mixins";
@import "../../assets/scss/variables";
@import "~blip-ds/dist/collection/styles/_colors.scss";

$row-color1: $color-surface-1;
$row-color2: $color-surface-2;
$white: $color-surface-1;
$hover-color: $color-surface-3;
$main-diagonal-border-color: $color-content-din;

.matrix-table {
    height: 100%;
    color: $color-content-default;
    overflow: hidden;
    border-spacing: 0;

    thead {
        z-index: -2;
        th {
            z-index: -2;
            position: relative;
            color: $color-content-default;
            border: none;
            font-weight: 300;

            &:nth-child(even) {
                background-color: $row-color1;
            }
            &:nth-child(odd) {
                background-color: $row-color2;
            }

            &.col {
                height: 160px;
                width: 60px;
                z-index: -2;
                > div {
                    transform: translate(-5px, 49px) rotate(-90deg);
                    width: 30px;
                }
            }
        }
    }

    tbody {
        background-color: $white;
        tr {
            &:nth-child(even) {
                .header {
                    background-color: $row-color2;
                }
            }
            &:nth-child(odd) {
                .header {
                    background-color: $row-color1;
                }
            }

            td {
                padding: 5px;
                width: 25px;
                height: 25px;
                position: relative;
                border: none;
                span {
                    display: flex;
                }

                &.white {
                    color: $white;
                }

                &.mainDiagonal {
                    border: 2px solid $main-diagonal-border-color !important;
                }

                &.header {
                    color: $color-content-default;
                    width: 160px;
                    padding-left: 20px;
                }
                &.cell {
                    background-color: $white;
                    transition: scale 0.2s ease-in-out;
                    span {
                        justify-content: center;
                    }
                }

                &.cell:hover {
                    background: $hover-color !important;
                    transform: scale(1.1) !important;
                    z-index: 2;
                }
            }
        }
    }
}
