@import "../../assets/scss/variables";
@import "~blip-ds/dist/collection/styles/_colors.scss";

.upload-button {
    border-radius: 50%;
    height: 150px;
    width: 150px;
    position: relative;
    display: flex;
    align-items: center;
    background-color: $color-content-disable;

    &.dashed-border {
        border: 3px dashed $color-content-default;
    }

    .upload-items {
        position: relative;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        img {
            padding: 0 0 8px;
            transition: all linear 0.1s;
            &.ng-hide {
                height: 0;
            }
        }

        span {
            padding: 8px 28px 0;
            line-height: 1.5;
            text-align: center;
            color: $color-surface-1;
        }

        local-loading {
            background-color: $color-content-ghost;
            width: 100%;
            height: 100%;
            border-radius: 50%;
            z-index: 4;
            display: flex;
            align-items: center;
        }
    }

    input[type="file"] {
        position: absolute;
        height: 100%;
        width: 100%;
        z-index: 2;
        top: 0;
        left: 0;
        opacity: 0;
        cursor: pointer;
    }

    .uploaded-img {
        width: 100%;
        height: 100%;
        border-radius: 50%;
    }
}
