@import "../../assets/scss/variables";
@import "~blip-ds/dist/collection/styles/_colors.scss";

.date-picker-wrapper {
    position: relative;
    display: flex;
    .color-input {
        width: 100%;
        margin-bottom: 10px;
    }
    .color-input {
        display: none;
    }
    .color-label {
        background-color: $color-content-din;
        border: 1px solid $color-content-ghost;
        border-radius: 50%;
        margin: 0;
        width: 30px;
        height: 30px;
        border: 1px solid $color-surface-3;
    }

    .color-picker {
        position: absolute;
        display: flex;
        flex-direction: column;
        z-index: 100;
        left: 39px;
        background-color: $color-surface-1;
        height: 180px;
        width: 205px;
        border: solid 1px $color-surface-3;
        visibility: hidden;
        padding: 15px 10px;
        border: none;
        border-radius: 5px;
        box-shadow: 0 1px 20px 0 rgba(199, 207, 209, 0.7);

        &.show-picker {
            visibility: visible;
        }

        .canvas-wrapper {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }

        input {
            width: 100%;
            border: none;
            outline: none;
            border-bottom: 1px solid $color-surface-2;
            margin-top: 5px;

            &:focus {
                border-bottom: 1px solid $color-surface-2;
            }
            &.invalid-input {
                &:focus {
                    border-bottom: 1px solid $color-error;
                }
            }
        }
    }

    .color-canvas {
        &:hover {
            cursor: crosshair;
        }
    }
}
