<ng-messages
    ng-if="field ? (form[field].$dirty || form.$submitted) : (!form.$dirty && form.$submitted)"
    for="field ? form[field].$error : form.$error"
    role="alert"
    >
    <p ng-if="field" ng-message="required" class="badge bg-danger text-white pt0" translate>utils.errorMsg.40</p>
    <p ng-if="field" ng-message="minlength" class="badge bg-danger text-white pt0" translate>utils.errorMsg.41</p>
    <p ng-if="field" ng-message="maxlength" class="badge bg-danger text-white pt0" translate>utils.errorMsg.42</p>
    <p ng-if="field" ng-message="min" class="badge bg-danger text-white pt0" translate>utils.errorMsg.159</p>
    <p ng-if="field" ng-message="max" class="badge bg-danger text-white pt0" translate>utils.errorMsg.160</p>
    <p ng-if="field" ng-message="email" class="badge bg-danger text-white pt0" translate>utils.errorMsg.43</p>
    <p ng-if="field" ng-message="url" class="badge bg-danger text-white pt0" translate>utils.errorMsg.44</p>
    <p ng-if="field" ng-message="pattern" class="badge bg-danger text-white pt0" translate>utils.errorMsg.44</p>
    <p ng-if="field" ng-message="minTags" class="badge bg-danger text-white pt0" translate>utils.errorMsg.41</p>
    <p ng-if="field" ng-message="maxTags" class="badge bg-danger text-white pt0" translate>utils.errorMsg.42</p>
    <p ng-if="field" ng-message="resolution" class="badge bg-danger text-white pt0" translate>utils.errorMsg.45</p>
    <p ng-if="field" ng-message="mimeType" class="badge bg-danger text-white pt0" translate>utils.errorMsg.46</p>
    <p ng-if="field" ng-message="changeSelfPermission" class="badge bg-danger text-white pt0" translate>utils.errorMsg.76</p>
    <p ng-if="apiError" ng-message="api" class="badge bg-danger text-white pt0" translate>{{apiError}}</p>
</ng-messages>
