@import "../../assets/scss/variables";
@import "~blip-ds/dist/collection/styles/_colors.scss";

form-field {
    input,
    textarea,
    select {
        width: 100%;
    }

    .field-label {
        color: $color-brand;
        font-weight: 600;
        font-size: $bp-fs-6;
        text-align: left;
    }

    div.small {
        input,
        textarea,
        select {
            width: auto;
        }
    }
}
