.actions-bar-trigger {
    i {
        position: absolute;
        transition: all 0.4s;
        &.icon-add {
            opacity: 1;
            &.rotate-out {
                opacity: 0;
            }
        }

        &.icon-close {
            opacity: 0;
            &.rotate-in {
                opacity: 1;
            }
        }
    }
}

.rotate-in {
    transition: all 0.4s;
    animation: rotate-in 0.4s;
}

.rotate-out {
    animation: rotate-out 0.3s;
    animation-delay: 0.1s;
    animation-fill-mode: forwards;
}

@keyframes rotate-in {
    from {
        opacity: 0;
        transform: rotateZ(-70deg);
    }
    to {
        opacity: 1;
        transform: rotateZ(0deg);
    }
}

@keyframes rotate-out {
    from {
        opacity: 1;
        transform: rotateZ(0deg);
    }
    to {
        opacity: 0;
        transform: rotateZ(-70deg);
    }
}
