builder-node {
    blip-tags {
        display: flex;
        position: relative;
        bottom: -17px;
        left: -10px;
        align-self: flex-start;
        margin-right: -21px;
        max-width: 115%;

        .blip-tags {
            border: 0;
            position: relative;
            padding: 0;
            max-width: 100%;

            .blip-tag__label {
                word-break: initial;
            }

            .blip-tag-container {
                cursor: pointer;
            }

            .blip-tag--on-list {
                line-height: 1;
                margin: 3px 0;
            }
        }
    }
}
