<ul class="u-no-margin action-icons mb0">
    <li ng-auth-read area="desk">
        <a>
            <i tooltips tooltip-template="{{'modules.application.detail.attendance.title' | translate}}" tooltip-side="bottom" class="icon-talk"
                ng-if="$ctrl.isAttendance" ng-click="$ctrl.goToBlipWebAttendance()"></i>
        </a>
    </li>
    <li ng-repeat="menuIcon in $ctrl.menuIcons">
        <a ng-class="{'active' : $ctrl.isActive(menuIcon.sref)}" ui-sref="{{menuIcon.sref}}">
            <i tooltips tooltip-template="{{menuIcon.title | translate}}" tooltip-side="bottom" ng-class="$ctrl.getIcons(menuIcon.sref)"></i>
        </a>
    </li>
    <li>
        <a ng-click="$ctrl.showBlipChatSidenav()">
            <i tooltips tooltip-template="{{'modules.application.detail.test' | translate}}" tooltip-side="bottom" class="icon-lab"></i>
        </a>
    </li>
</ul>
