@import "../../assets/scss/variables";
@import "~blip-ds/dist/collection/styles/_colors.scss";

.action-icons {
    display: inline-flex;

    li {
        .toolTipUnpublishedFlow {
            tooltip {
                tip {
                    left: 1.8rem;
                }
            }
        }
    }
}

.test {
    &-details {
        &-menu {
            li {
                margin-left: 0;
            }
        }
    }
    .builder-icon {
        margin-left: 12px;
        width: 20px;
    }
}
.subheader-nav .action-icons {
    .test-details-menu {
        li {
            display: flex;
            margin-left: 0;
            padding: 0 10px;
            &.disabled {
                opacity: 0.6;
            }
        }
        a {
            color: $color-content-default;
            &.disabled {
                color: $color-content-ghost;
            }
        }
    }
}

.deskSubheaderButton {
    display: inline-flex;
    background: $color-primary;
    color: $color-surface-1;
    padding: 6px 12px;
    overflow: visible;
    cursor: pointer;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    position: relative;
    transition: all 0.5s ease 0s;
}

.deskSubheaderButton:hover {
    background: $color-primary;
}

.deskSubheaderButton span {
    margin-left: 4px;
    color: $color-surface-1;
    padding-top: 1px;
}

.test-details-menu {
    li {
        a {
            padding-left: 5px;
        }
    }
}

.fullscreen {
    .subheader-icons {
        li {
            display: none;
        }

        .item-lab {
            display: block;
            position: fixed;
            top: 40px;
            right: 40px;

            .dropdown-align-right {
                right: -12px;
            }
        }
    }
}
