@import "../../assets/scss/variables";
@import "~blip-ds/dist/collection/styles/_colors.scss";

.load-more {
    padding: 20px 0;
    background-color: #dee8ec;

    > div {
        color: $color-primary;
        min-height: 40px;
    }
}
