@import "../../assets/scss/variables";

input-list {

    margin-bottom: 3*$u;
    display: block;

    .input-list-textarea { max-height: 130px; }
    .card-header { display: none; }

    .table {
        width: 100%;
        margin: 0;
    }

    ul {
        position: relative;
        list-style: none;
        margin: 0 0 0.5*$u;

        card {
            margin: 0;
        }

        li {
            position: relative;
            list-style: none;
            margin: 0;

            + li {
                margin-top: 1.5*$u;
            }

            input[type="text"] {
                margin: -0.5*$u 0;
                height: 5*$u;
            }
        }

        .dndPlaceholder + li {
            card {
                background-color: $color-accent;
            }
        }

        .icon:hover {
            cursor: pointer;
        }

        .handle .icon:hover {
            cursor: move;
        }
    }

    .padding-left {
        padding-left: $u;
        vertical-align: bottom;
    }
}
